{% extends 'NewTheme/base.html' %}

{% load static %}

{% block content %}


<div class="content-wrapper">
    <div class="content">	
        <div class="row mt-0">
            <div class="col-12">					
                <div class="card border rounded p-2 pt-0">
                    <div class="card-header justify-content-between pt-1">
                        <div class="text-left d-flex justify-content-between align-items-center">
                            <span class='text-primary' style='font-size: 30px;'><i class="fa fa-book"></i> Authentication Logs &nbsp;</span>
                            <span><a href="{% url 'distributor:user-list' %}" class="badge badge-danger">Back To Users</a></span>
                        </div>
                    </div>
                    <div class="card-body pt-0 pb-5">
                        <table class="table table-sm table-responsive" id="myTableSubscription" style="width:100%"
                            data-toggle="table"
                            data-search="true"
                            data-pagination="true"
                            data-page-list="[5, 10, 25, 50, 100, all]"
                            data-show-export="true"
                            data-show-toggle="true" 
                            data-show-fullscreen="true"
                            data-show-columns="true"
                            data-minimum-count-columns="10"
                            data-show-columns-toggle-all="true"
                            data-id-field="id"
                        >
                        <thead class='bg-primary'>
                            <tr>
                            <th class='text-light p-1' data-sortable="true">#</th>
                            <th class='text-light p-1' data-sortable="true">User</th>
                            <th class='text-light p-1' data-sortable="true">Last Login Time</th>
                            </tr>
                        </thead>
                        <tbody class=" table-sm">
                            {% for action in aLogs %}
                            <tr>
                                <td class="text-dark">{{ forloop.counter }}</td>
                                <td ><a class="text-dark" > {{ action.userName }}</a></td>
                                <td class="d-none d-md-table-cell">{{ action.lastLogin}}</td>
                            </tr>
                            {% endfor %}                    
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>	
    </div>
</div>
    



{% endblock %}