{% extends 'dashboard/distributor_list.html' %} {% block add_to_list %} {% if
user.netbotuser.permission_group.permission.can_manage_user_groups %}
<a href="{% url 'distributor:add-user-groups' %}" class="btn btn-success"
  >Add User Permission Group</a
>
{% else %} List Of Permission Groups {% endif %} {% endblock %} {% block
table_heads %}
<th data-sortable="true">Group Name</th>
<th data-sortable="true">Group Users</th>
{% endblock %} {% block table_data %} {% for usg in permission_gs %}
<tr>
  <td>{{ forloop.counter }}</td>
  <td>{{ usg.name }}</td>
  <td>{{ usg.user_group.all|length }}</td>

  <td>
    {% if user.netbotuser.permission_group.permission.can_manage_user_groups %}
    {% include 'distri/modals/actions.html' with id=usg.id name=usg.name %} {%
    endif %}
  </td>
</tr>

{% endfor %} {% endblock %} {% block edit_action %}{% url
'distributor:add-user-groups' %}{% endblock %} {% block edit_md_title %}Edit
Permission Group{% endblock %} {% block del_md_tittle %}Delete Permission
Group{% endblock %}
