
<table class="table table-striped table-bordered"
       data-search="true" data-show-columns="true"
       data-click-to-select="true" id="retail_assign" >

    <thead>
    <tr>
        <th data-checkbox="true"></th>
        <th data-searchable="false" data-sortable="false">#</th>
        <th data-sortable="true" data-searchable="false">Actions</th>
        <th data-sortable="true">Name</th>
        <th data-sortable="true">Email</th>
        <th data-sortable="true">Phone</th>
        <th data-sortable="true">Region</th>
        <th data-sortable="true">City</th>
        <th data-sortable="true">Area</th>
        <th data-sortable="true">Pin</th>
    </tr>
    </thead>
    <tbody >
    {% for retailer in a_retailers %}

        <tr>
            <td></td>
            <td>{{ forloop.counter }}</td>
            <td>
                <button onclick="as_rm('{{ retailer.id }}','remove')" type="button" class="btn btn-danger">Remove</button>
            </td>
            <td>{{ retailer.name }}</td>
            <td>{{ retailer.email }}</td>
            <td>{{ retailer.phone }}</td>
            <td>{{ retailer.region.name }}</td>
            <td>{{ retailer.city.name }}</td>
            <td>{{ retailer.area.name }}</td>
            <td>{{ retailer.pin_no }}</td>
        </tr>
    {% endfor %}
    {% for retailer in retailers %}
        <tr>
            <td></td>
            <td>{{ forloop.counter }}</td>
            <td>
                <button onclick="as_rm('{{ retailer.id }}','add')" type="button" class="btn btn-success">Add</button>
            </td>
            <td>{{ retailer.name }}</td>
            <td>{{ retailer.email }}</td>
            <td>{{ retailer.phone }}</td>
            <td>{{ retailer.region.name }}</td>
            <td>{{ retailer.city.name }}</td>
            <td>{{ retailer.area.name }}</td>
            <td>{{ retailer.pin_no }}</td>
        </tr>
    {% endfor %}
</tbody>
</table>