{% extends 'distri/lists/salesmen_list.html' %}
{% block table_title %}
    Deliveries
{% endblock %}
{% block add_obj_url %}{% endblock %}
{% block table_heads %}

    <th>#</th>
    <th>Order Id</th>
    <th>Order Status</th>
    <th>Reception Remarks</th>
    <th>Actions</th>

{% endblock %}

{% block table_data %}
{% for delivery in deliveries %}
    <tr>
    <td>{{ forloop.counter }}</td>
    <td>#{{ delivery.order.id }}</td>
    <td>
        {%  if delivery.confirmed %}
            Delivered
        {% else %}
            Pending
        {% endif %}
    </td>
    <td>{{ delivery.delivery_time }}</td>
    <td>
        <button data-toggle="modal" data-target="#view_modal" onclick="return viewOrder('{{ delivery.order.id }}')"  class="btn btn-success  fa fa-info"> Details</button>
    </td>
    </tr>
    {% endfor %}
{% endblock %}

{% block page_modals %}

    <div class="modal fade" id="view_modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delivered Order Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

           <div class="modal-body">

             <div id="modal-content">


            </div>

            <div class="modal-footer">
                <button class="btn btn-warning" data-dismiss="modal">Cancel</button>
                <button type="submit" id="btn-edit-token" class="btn btn-success">
                    <i id="sync-bt1" class="fa fa-print"></i> Print Pdf <i id="sync-bt1" class="fa fa-file-pdf-o"></i></button>
            </div>
           </div>
        </div>
    </div>
</div>

{% endblock %}


{% block addJs %}
<script type="application/javascript">
function viewOrder(order_id){


var formData = {

    'ret_id'             : order_id,
    'action'    : 'view'
};
jQuery.ajax({
            type        : 'GET', // define the type of HTTP verb we want to use (POST for our form)
            url         : '', // the url where we want to POST
            data        : formData, // our data object
        }).done(function(data) {

                {#console.log(data);#}
                jQuery('#modal-content').html(data);
                // here we will handle errors and validation messages
    });



}
</script>
{% endblock %}