{% extends 'distri/lists/salesmen_list.html' %}
 {% block add_obj_url %}
     <a class="btn btn-success fa fa-plus-square" href="{% url 'distributor:dist-user-group-add' distributor.id distributor.name %}">&nbsp; Add User Group</a>
 {% endblock %}
{% block table_title %}
   User System Access Permission Groups
{% endblock %}
{% block table_heads %}
    <th data-sortable="true">Name</th>
    <th data-sortable="true">Users In this Group</th>
    <th data-seachable="false">Actions</th>

{% endblock %}

{% block table_data %}
{% for user_g in user_groups %}
    <tr>
    <td>{{ user_g.name }}</td>
    <td>{{ user_g.perm_users.all|length }}
        {
        {% for us in user_g.perm_users.all %}
            ( {{ us.user.email }} )
        {% endfor %}
        }
    </td>
    <td>
        {% include 'distri/modals/actions.html' with id=user_g.id name=user_g.name %}
    </td>
    </tr>
    {% endfor %}
{% endblock %}

{% block edit_action %}{% url 'distributor:dist-user-group-add' distributor.id distributor.name %}"{% endblock %}
{% block edit_md_title %}Edit User{% endblock %}
{% block del_md_tittle %}Delete User{% endblock %}