{% extends 'distri/forms/user.html' %}
{%load crispy_forms_tags %}
{% block form_title %}
    <a class="btn btn-success fa fa-reply" href="{% url 'distributor:dist-price_lists' distributor.id distributor.name %}">&nbsp; Price  List</a>
{% endblock %}
{% block form_body %}
<form action="{% url 'distributor:dist-price_list-add' distributor.id distributor.name %}" method="post">
{% csrf_token %}
    {{ price_list_form|crispy }}
<input type="submit" value="Create Price Entry" class="btn btn-success">
</form>
{% endblock %}

{% block addJs %}
    <script type="application/javascript">
    jQuery('#id_date_from').attr("type",'date');
    jQuery('#id_date_to').attr("type",'date');
    </script>
{% endblock %}