{% extends 'distri/forms/user.html' %}
{%load crispy_forms_tags %}
{% block form_title %}
    <a class="btn btn-success fa fa-reply" href="{% url 'distributor:dist-salesmen' distributor.id distributor.name %}">&nbsp; Sales People List</a>
{% endblock %}
{% block form_body %}

<form action="{% url 'distributor:dist-salesmen-add' distributor.id distributor.name %}" method="post">
{% csrf_token %}
    {{ form|crispy }}
<input type="submit" value="Create A Sale Person" class="btn btn-success">
</form>

{% endblock %}