{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/402.css' %}" type="text/css" />
    <title>402</title>
  </head>
  <body>
    <div id="background"></div>
    <div class="top">
      <h1>402</h1>
      <h3>Subscription has expired</h3>
    </div>
    <div class="container">
      <div class="ghost-copy">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
        <div class="four"></div>
      </div>
      <div class="ghost">
        <div class="face">
          <div class="eye"></div>
          <div class="eye-right"></div>
          <div class="mouth"></div>
        </div>
      </div>
      <div class="shadow"></div>
    </div>
    <div class="bottom">
      <p>
        Looks like your subscription just died out.<br />
        if you would like to resume with our services <br />
        please reach out to us and let us help make your business grow.
      </p>

      <div class="buttons">
        <button class="btn">Extend</button>
        <a href="/" class="btn btn_primary side_nav_item">Home</a>
      </div>
    </div>
  </body>
</html>
