{% load static%}
<aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="./"><img src="/media/logo.png" alt="Logo" style="max-height: 50px;width: 100px;border-radius: 20%"></a>
                <a class="navbar-brand hidden" href="./"><img src="/media/logo.png" alt="Logo"></a>
            </div>



            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{% url 'distributor:index' %}">
                            <i class="menu-icon fa fa-home"> </i>Dashboard </a>
                    </li>
                {% if user.netbotuser.permission_group.permission.can_view_distributors %}
                    <li class="">
                        <a href="{% url 'distributor:distributor-list' %}"> <i class="menu-icon fa fa-industry"></i>Distributors</a>
                    </li>
                {% endif %}

                {% if user.netbotuser.permission_group.permission.can_view_subsc_history %}
                    <li class="">
                        <a href="{% url 'distributor:subscription-history' %}"> <i class="menu-icon fa fa-suitcase"></i>Subscription Reports</a>
                    </li>
                {% endif %}
                {% if user.netbotuser.permission_group.permission.can_view_subscriptions %}
                    <li class="">
                        <a href="{% url 'distributor:subscriptions-list' %}">
                            <i class="menu-icon fa fa-suitcase"></i>Subscriptions</a>
                    </li>
                {% endif %}
                    {% if user.netbotuser.permission_group.permission.can_view_users and user.netbotuser.permission_group.permission.can_view_user_groups  %}

                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-users"></i>User Management</a>

                        <ul class="sub-menu children dropdown-menu">
                            {% if user.netbotuser.permission_group.permission.can_view_user_groups %}
                            <li class="active"><i class="fa fa-user-times"></i><a href="{% url 'distributor:user-group-list' %}">Permission Groups</a></li>
                            {% endif %}

                            {% if user.netbotuser.permission_group.permission.can_view_users  %}
                                <li><i class="fa fa-user"></i><a href="{% url 'distributor:user-list' %}">Users</a></li>
                            {% endif %}

                        </ul>
                    </li>
                    {% endif %}

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->
